.bg-image-attendances {
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.3)), url("pexels-pixabay-433452.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.contenedor-flex {
  display: flex;
  justify-content: center;
  width: 87%;
  margin: 20px auto 0;

}

.item {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.emoji {
  display: inline-block;
  width: 20px; /* Ajusta el ancho según sea necesario */
  text-align: center;
  margin: 0 8px 8px; /* Ajusta el margen derecho según sea necesario */
  font-size: 30px;
  color: #F3B20B;
}

#event-card {
  height: 300px;
  border-radius: 4px;
}

#event-creator {
  cursor: pointer;
}
