<div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 mt-4 mb-4 shadow">
      <h2>Create a New Event</h2>
        <%= render "form", event: @event %>
        <%= link_to 'Back to Events', root_path %>
       </div>
    </div>
</div>
