<h2>Pick your interest</h2>
<% @categories.each do |category| %>
  <%= link_to events_path(category: category.name) do %>
   <%# card with picture %>
   <p><%= category.name %></p>
  <% end %>
<% end %>
