#container-shadow {
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.row {
  padding: 10px;
}

#logintext {
  margin-top: 40px;
}

#profilepicture {
  width: 200px;
}

.subhost {
  font-size: 12px;
  font-style: oblique;
  padding: 0px 7px;
  color: #F3B20B;
}
