.navbar-lewagon {
  justify-content: space-between;
  background: #2c2c2c;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 30px;
  width: 110px;
  padding-left: 14px;

}

.nav-link {
  color: #FFFFFF;
  margin-right: 12px;
}

.btn-primary {
  border-color: #F3B20B;
  margin-right: 20px;
  color: #FFFFFF;
}

.nav-link:hover {
  background-color: #F3B20B;
  transition: 0,2;
  color: $my_gray;
}

#search_query {
  width: 420px;
}

.form-control {
  border-radius: 0;
}



#logoform {
width: 100%;
font-size: 20px;
display: flex;
place-content: center;
}
.yellow {
  color:#F3B20B
}
.white {
  color: #FFFFFF;
}
