<div class="wraper">
  <div class="container d-flex justify-content-around">
    <div>
      <h5>Events I want to attend</h5>
      <ul class="list-group list-group-flush">
        <% @attendances.each do |attendance|%>
          <li><%= attendance.event.title %></li>
        <% end %>
      </ul>
    </div>
    <div>
      <h5>Events I am hosting</h5>
      <ul class="list-group list-group-flush">
        <% @events_as_host.each do |event|%>
          <li><%= event.title %></li>
        <% end %>
      </ul>
    </div>
    <div>
      <h5>My Profile</h5>
      "Stuff about me"
    </div>
  </div>
</div>
